* {
  margin: 0px;
  padding: 0px;
}
/*=============================Start of Navigation bar==============================*/
header {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}
header img {
  height: 70%;
}
.topnav a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-right: 20px;
}
.topnav a:hover {
  color: aquamarine;
}
/*=============================End of Navigation bar================================*/
#first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./ice.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-weight: 700px;
  font-size: 10vw;
  color: white;
}
#paragraphs {
  font-size: 4vw;
  font-weight: bolder;
  color: white;
}
.para {
  font-size: 5vw;
  color: white;
  font-weight: bolder;
}
.square 
{
  height: 70px;
  width: 70px;
  background-color: transparent;
  border: white;
  border-style: solid;
}
.square:hover 
{
  background-color: white;
}
.square i 
{
  margin-left: 27px;
  margin-top: 26px;
  color: blue;
}
.features
{
    width:100%;
}

.sentences
{
  font-size:13vw;
}
.features img {
  margin-left: 20%;
  width:60%;
  margin-right: 20%;
  margin-top: 40px;
}

@media screen and (max-width: 480px)
{
  #button-wrapper 
  {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column !important;
    margin-top: 10px;
  }

  #button-wrapper .fourths 
  {
    width: 100% !important;
  }

  #buttons {
    width: 100% !important;

  }
}
.sentences 
{
  font-size: xx-large;
  font-weight: bolder;
  color: black;
  text-align: center;
}
#button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}
.fourths 
 {
  height: 50px;
  display: flex;
  width:49%;
  flex-direction: column;
  justify-content: space-between;
 }
button {
  height: 50px;
  width: 100px;
  background-color: transparent;
  border: deepskyblue;
  border-style: solid;
  color: lightcoral !important;
  margin-left: -100px;
}

@media screen and (max-width:480px)
{
    .switch, .seventh
    {
        margin-left:25%;
        margin-right:25%;
        margin-bottom:20px;
    }
}

#buttons
{
    width:50% !important;
}

#buttons:hover {
  background-color: lightskyblue;
}

#wrappers {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  font-size:4vw;
  text-align: center;
}

section {
  width: 100% !important;
}
/* =================start of cards section styles ========*/
#front-page {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.card-wrapper
{
  height: 400px;
  width: 28%;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
@media screen and (max-width:480px)
{
    .card-wrapper
    {
       width:90%;
    }
}

.card-image {
  height: 40%;
  background-color: lightgray;
}
.card-image img {
  height: 85%;
  margin: 7%;
  width: 85%;
}
#card-content {
  height: 40%;
}

.card-footer {
  height: 20%;
  width:100%;
}

#Spotless {
  font-size: x-large;
  font-weight: bolder;
  color: lightgreen;
  margin-top: 10px;
  margin-bottom: 15px;
}

#card-text {
  margin-bottom: 10px;
}

.card-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 30px;
  margin-top: 10px;
}
.team-card-container h1 {
  font-size: 34px;
  font-weight: 50px;
  color: lightcoral;
}
.team-card-container h4 {
  color: grey;
  margin-top: 10px;
  margin-bottom: 30px;
}
.team-card-container p {
  margin-left: 10px;
  margin-right: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
/* =================end of cards section styles ========*/

/*==================start of about section styles=====================*/

.About-page {
  background-image: url(./pop.gif);
  background-repeat: no-repeat;
  background-color: lightcoral;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  color: aquamarine;
  font-size: 10vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.cards {
  background-image: url(./tjay.jpg) !important;
  margin-bottom: 140px;
}

@media screen and (max-width: 480px) {
  .About-page {
    height: 250px;
  }
}

/*==================end of about section styles=====================*/

/*===================Start of next page===============================*/

#sentence {
  margin-top: 95px;
  margin-left: 25%;
  margin-right:25%;
  margin-bottom: 90px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
@media screen and (max-width: 480px) {
  #sentence {
    width: 100% !important;
  }

  .graph-container {
    width: 100% !important;
  }

  .next-page {
    width:100% !important;
    justify-content: center !important;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
.next-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 100px;
}
.next-pages {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.address {
  margin-top: 30px;
}
#Text {
  font-size: 100px;
  color: black;
  margin-left: 600px;
  margin-bottom: 50px;
}

.graph-container {
  width: 50%;
}

.graph-rectangle {
  width: 90%;
  height: 40px;
  background-color: lightgray;
  margin-bottom: 10px;
}
.graph-percentage {
  width: 67%;
  height: 40px;
  background-color: deeppink;
}
.wordpress-graph-percentage {
  background-color: aquamarine;
  width: 59%;
  height: 40px;
}
.photoshop-graph-percentage {
  background-color: cyan;
  width: 80%;
  height: 40px;
}
.marketing-graph-percentage {
  background-color: chartreuse;
  width: 70%;
  height: 40px;
}
.line hr {
  margin-bottom: 300px;
  border: -4px solid grey;
  border-radius: 10px;
  height: 150%;
  width: 103%;
}
.lorems
{
    width:100%;
}
.lorems p {
  font-size:3vw;
  color: black;
  margin-top: -200px;
  margin-bottom: 40px;
  text-align:center;
}

/*===================End of next page=================================*/

/*===================start of team section=================================*/
.team-card-container {
  width: 30%;
  height: 450px;
  text-align: center;
  margin-bottom: 30px;
}

.team-card-container img {
  width: 100%;
  height: 30%;
}
.whole img {
  height: 70%;
}

@media screen and (max-width: 480px) {
  .team-card-container {
    width: 90%;
    margin-bottom: 20px;
  }
}
/*===================end of team section=================================*/

#button {
  height: 50px;
  width: 10%;
  background-color: transparent;
  font-weight: bolder;
  border: blue;
  border-style: solid;
  color: lightcoral;
  margin-top: -200px !important;
  margin-left:45%;
  margin-bottom: 300px; 
}
@media screen and (max-width:480px)
{
    #button
    {
        width:30%;
        margin-left:35%;
    }
}

#button:hover {
  background-color: deepskyblue;
}

/*=========================Contact-Page===========================*/
#Contact-page {
  background-image: url(./wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 80px;
}
#Contact-page h1 {
  text-align: center;
  color: aqua;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 3vw;
}
#Contact-page p {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color:wheat;
  font-weight: bolder;
  font-size: larger;
}
#forms {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 30px;
}
#forms div input {
  height: 60px;
  width: 49%;
}
@media screen and (max-width:480px)
{
    #forms div input
    {
       width:100%;
       margin-bottom:10px;
    }
}

#forms div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
textarea {
  width: 100%;
  margin-top: 20px;
}
#forms-button {
  margin-top: 40px;
  margin-left: 460px;
  width: 140px;
  margin-bottom: 40px;
}
#forms-button:hover {
  background-color: greenyellow !important;
}
#Contact-info 
{
  font-weight: bolder;
  font-size: 60px !important;
}

/*=========================End of Contact-Page============================*/

/*========================Start of Footer=================================*/
footer {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#foots p {
  display: inline;
  margin-right: 30px;
  padding-left:0px;
}
@media screen and (max-width:480px)
{
    #foots p
    {
        width:100%;
    }
}

/*========================End of Footer===================================*/

/*=======================Start of Media Query=============================*/

/*======================End of Media Query================================*/
